.DS_Store
xcuserdata
._*
*.xcworkspace

gslightcontrol.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/gslightcontrol.xcscheme

gslightcontrol.xcodeproj/xcuserdata/GiaSet.xcuserdatad/xcschemes/gslightcontrol.xcscheme
